node_modules/
tmp/*.php
tmp/cache/*
images/pages/*
images/srcset/*
.DS_Store
.yarn*
yarn*
.yarn/*
.phpdoc
docs/api
composer.lock
package-lock.json
yarn-error.log
system_obfs
app/db/*
media/*
uploads/
tester.php
_docs
releases/*
pnpm*
.vscode/settings.json
*.zip
vendor/