<!-- Generated: 2022-10-17 07:26 -->
<f3:inject id="content">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ t('menu.page_editor') }}</h1>
    <div class="grid gap-3 px-4 py-6" class="md:grid-cols-2" x-data="data">
        <ff:input title="Title" x-model="data.title" />
        <ff:input title="Slug" x-model="data.slug" />
        <ff:textarea title="Content" id="content" x-model="data.content" class="md:col-span-2" />
        <ff:textarea title="JavaScript" x-model="data.script" class="md:col-span-2" rows="10" />
        <ff:input title="Created" x-model="data.created" disabled />
        <ff:input title="Updated" x-model="data.updated" disabled />
        <div class="flex gap-2">
            <button class="button" @click='save()' />{{ t('common.save') }}</button>
            <button class="button button-gray" @click='cancel()' />{{ t('common.cancel') }}</button>
        </div>
    </div>
</f3:inject>
<f3:inject id="script" type="append">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        let data = {
            init() {
                initTinymce('#content');
            },
            data: {
                id: '{{ @page.id ?? "" }}',
                title: '{{ @page.title ?? "" }}',
                slug: '{{ @page.slug ?? "" }}',
                content: `{{ substr(json_encode(@page.content ?? ""),1,-1) | raw }}`,
                script: `{{ substr(json_encode(@page.script ?? ""),1,-1) | raw }}`,
                created: '{{ @page.created ?? "" }}',
                updated: '{{ @page.updated ?? "" }}',
            },
            errors: {},
            save() {
                this.data['content'] = tinymce.get('content').getContent();
                fetchData('{{@BASE}}/ajax/content/page-edit', { data: this.data, oper: this.data.id ? 'edit' : 'add' }).then(data => {
                    popupInfo('Page has been saved');
                }, error => {
                    popupError(error);
                }).catch(e => popupError(e));
            },
            cancel() {
                history.back();
            },
            getSlug(string) {
                if (!this.data.slug) {
                    fetch('{{@BASE}}/ajax/content/page-slug?' + new URLSearchParams({ text: this.data.title })).then(resp => resp.text()).then(text => this.data.slug = text);
                }
            },
        };
    </script>
</f3:inject>
<include href="blocks/modal-image-browser.html" />
<include href="blocks/tinymce.html" />
<include href="blocks/popup.html" />