<f3:inject id="content">
    <!-- Generated: 2022-08-12 15:22 -->
    <h2 class="text-lg font-bold">Album</h2>
    <div x-data="album">
        <include href="blocks/table.html" />
        <include href="blocks/modal-form.html" />
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script type="text/javascript">
        let album = FFTable({
            fields: [
                { title: 'AlbumId', name: 'AlbumId', hidden: true, },
                {
                    title: 'Title', name: 'Title', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/album/${d.AlbumId}" class="underline">${v}</a>`;
                    }
                },
                {
                    title: 'ArtistId', name: 'ArtistId', visible: false, type: 'tom-select',
                    options: eval(`{{ (new \Util\Html)->selectOption('\Model\Chinook\Artist', '', 'ArtistId', 'Name') }}`)
                },
                {
                    title: 'Artist', name: 'ArtistName', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/artist/${d.ArtistId}" class="underline">${v}</a>`;
                    }, virtual: true
                },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/album/elist',
                editable: true,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple',
                size: 'small'
            },

            // form options
            form: {
                url: '{{@BASE}}/ajax/chinook/album/edit',
                object: 'Album',
                size: 'normal', // small, normal, large, huge 
                columns: 1,
                pk: ['AlbumId'], // primary key
            }
        });
    </script>
</f3:inject>
<include href="blocks/popup.html" />