<f3:inject id="content">
    <div x-data="data" class="max-w-screen-lg mx-auto">
        <div
            class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <svg viewBox="0 0 24 24"
                class="mb-2 stroke-1 size-10 stroke-gray-500 dark:stroke-gray-400 fill-transparent">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Customer</h2>
            <div class="font-normal text-gray-500 dark:text-gray-400">
                <p class="mb-3 "><span x-text="record.FirstName"></span> <span x-text="record.LastName"></span></p>
                <p class="mb-3 italic" x-text="record.Company"></p>
                <div class="text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Sales Rep</div>
                    <div class="underline"><a :href="'{{@BASE}}/chinook/employee/' + record.SupportRepId"
                            x-text="record.EmpLastName + ', ' + record.EmpFirstName"></a></div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-b border-gray-200 dark:border-gray-700" x-data="{ page: 0 }">
            <ul class="tab-container">
                <li class="tab" :class="{ 'tab-active': page == 0 }" @click="page = 0">Contact Info</li>
                <li class="tab" :class="{ 'tab-active': page == 1 }" @click="page = 1">Invoice</li>
            </ul>
            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
                <div x-show="page == 0">
                    <div class="grid gap-2 lg:grid-cols-2">
                        <div
                            class="max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Address</h3>
                            <div class="grid gap-2 lg:grid-cols-2">
                                <div class="text-gray-700 dark:text-gray-200 lg:col-span-2">
                                    <div class="text-xs font-bold">Address</div>
                                    <div x-text="record.Address"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">City</div>
                                    <div x-text="record.City"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">State</div>
                                    <div x-text="record.State"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Country</div>
                                    <div x-text="record.Country"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Postal Code</div>
                                    <div x-text="record.PostalCode"></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Contact</h3>
                            <div class="grid gap-2">
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Phone</div>
                                    <div x-text="record.Phone"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Fax</div>
                                    <div x-text="record.Fax"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Email</div>
                                    <div class="underline"><a :href="'mailto:' + record.Email"
                                            x-text="record.Email"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div x-show="page == 1">
                    <div x-data="invoice">
                        <include href="blocks/table.html" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        const data = {
            record: {},
            init() {
                let id = '{{@CustomerId}}';
                if (id) {
                    fetchData('{{@BASE}}/ajax/chinook/customer/load', { CustomerId: id }).then(data => this.record = data);
                }
            }
        }
        const invoice = FFTable({
            fields: [
                {
                    title: 'Id', name: 'InvoiceId', raw: true, formatter(v) {
                        return `<a class="underline" href="{{@BASE}}/chinook/invoice/${v}">${v}</a>`
                    }
                },
                { title: 'CustomerId', name: 'CustomerId', visible: false, queryPrefix: 'i' },
                { title: 'Date', name: 'InvoiceDate', formatter(v) { return dayjs(v).format('ddd, D MMM \'YY') }, class: 'whitespace-nowrap' },
                { title: 'Total', name: 'Total', formatter(v) { return '$' + v }, class: 'text-right' },
                { title: 'City', name: 'BillingCity' },
                { title: 'Country', name: 'BillingCountry' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/invoice/elist',
                editable: false,
                searchable: false,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple',
                display: 'compact',
                displayClass: 'h-[40vh]',
                size: 'small',
                limit: [{ col: 'i.CustomerId', op: '=', value: '{{@CustomerId}}' }],
            },

        });
    </script>
</f3:inject>
<include href="blocks/popup.html" />