<f3:inject id="content">
    <!-- Generated: 2022-08-11 15:35 -->
    <h2 class="text-lg font-bold">Employee</h2>
    <div x-data="data">
        <include href="blocks/table.html" />
        <include href="blocks/modal-form.html" />
    </div>
    <svg class="hidden">
        <defs>
            <symbol id="people">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </symbol>
        </defs>
    </svg>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script type="text/javascript">
        let employee = {
            fields: [
                { title: 'EmployeeId', name: 'EmployeeId', queryPrefix: 'e', hidden: true, readonly: true },
                {
                    title: 'LastName', name: 'LastName', queryPrefix: 'e', formatter(v, c, d) {
                        return `<svg viewBox="0 0 24 24" class="inline mr-2 stroke-1 size-4 stroke-gray-500 dark:stroke-gray-400 fill-transparent">
      <use href="#people" /></svg> <a class="underline" href="{{@BASE}}/chinook/employee/${d.EmployeeId}">${v}</a>`;
                    }, raw: true
                },
                { title: 'FirstName', name: 'FirstName', queryPrefix: 'e' },
                { title: 'Title', name: 'Title', queryPrefix: 'e' },
                {
                    title: 'Reports To', name: 'ReportsTo', queryPrefix: 'e', formatter(v, c, d) {
                        return d.HeadLastName && `<a class="underline" href="{{@BASE}}/chinook/employee/${v}">${d.HeadLastName}, ${d.HeadFirstName}</a>`;
                    }, raw: true, type: 'select', triggerChange(d) {
                        fetchData('{{@BASE}}/ajax/chinook/employee/select-option', { EmployeeId: d.EmployeeId }).then(data => {
                            data.unshift({ value: '', label: 'None' })
                            this.options = data;
                        });
                    }
                },
                { title: 'HeadLastName', name: 'HeadLastName', virtual: true, visible: false, },
                { title: 'FirstName', name: 'HeadFirstName', virtual: true, visible: false },
                { title: 'Birth Date', name: 'BirthDate', formatter(v) { return dayjs(v).format('D MMM YYYY') }, queryPrefix: 'e', type: 'date' },
                { title: 'Hire Date', name: 'HireDate', formatter(v) { return dayjs(v).format('D MMM YYYY') }, queryPrefix: 'e', type: 'date', visible: false },
                { title: 'Address', name: 'Address', visible: false, type: 'textarea', fclass: 'md:col-span-2' },
                { title: 'City', name: 'City', visible: false, },
                { title: 'State', name: 'State', visible: false, },
                { title: 'Country', name: 'Country', visible: false, },
                { title: 'PostalCode', name: 'PostalCode', visible: false, },
                { title: 'Phone', name: 'Phone', visible: false, type: 'tel' },
                { title: 'Fax', name: 'Fax', visible: false, type: 'tel' },
                { title: 'Email', name: 'Email', visible: false, type: 'email' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/employee/elist',
                editable: true,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple'
            },

            // form options
            form: {
                url: '{{@BASE}}/ajax/chinook/employee/edit',
                object: 'Employee',
                size: 'normal', // small, normal, large, huge 
                columns: 2,
                pk: ['EmployeeId'], // primary key
                size: 'large',
                class: {
                    LastName: 'col-start-1'
                }
            }
        }
        let data = FFTable(employee);
    </script>
</f3:inject>
<include href="blocks/popup.html" />