<f3:inject id="content">
    <div x-data="employee" class="max-w-screen-lg mx-auto">
        <div
            class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <svg viewBox="0 0 24 24"
                class="size-10 mb-2 stroke-1 stroke-gray-500 dark:stroke-gray-400 fill-transparent">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Employee</h2>
            <div class="font-normal text-gray-500 dark:text-gray-400">
                <div class="grid md:grid-cols-2">
                    <div class="mb-2 text-gray-700 dark:text-gray-200">
                        <div class="text-xs font-bold">Last Name</div>
                        <div x-text="record.LastName"></div>
                    </div>
                    <div class="mb-2 text-gray-700 dark:text-gray-200">
                        <div class="text-xs font-bold">First Name</div>
                        <div x-text="record.FirstName"></div>
                    </div>
                </div>
                <div class="text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Title</div>
                    <div x-text="record.Title"></div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button
                        class="inline-block p-2 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                        id="hr-tab" data-tabs-target="#hr" type="button" role="tab" aria-controls="hr"
                        aria-selected="true">HR
                        Info</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button
                        class="inline-block p-2 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                        id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">Contact Info</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button
                        class="inline-block p-2 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                        id="customer-tab" data-tabs-target="#customer" type="button" role="tab" aria-controls="customer"
                        aria-selected="false">Customer</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="hr" role="tabpanel" aria-labelledby="hr-tab">
                <div class="grid gap-2 lg:grid-cols-2">
                    <div
                        class="max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Management</h3>
                        <div class="grid gap-2 lg:grid-cols-2">
                            <div class="text-gray-700 dark:text-gray-200 lg:col-span-2">
                                <div class="text-xs font-bold">Reports To</div>
                                <div x-html="record.frpt">
                                </div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Reportees</div>
                                <div>
                                    <ul>
                                        <template x-for="rep in record.rpts">
                                            <li x-html="rep"> </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <div class="grid gap-2">
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Hire Date</div>
                                <div x-text="dayjs(record.HireDate).format('D MMM YYYY')"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Birth Date</div>
                                <div x-text="dayjs(record.BirthDate).format('D MMM YYYY')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel"
                aria-labelledby="profile-tab">
                <div class="grid gap-2 lg:grid-cols-2">
                    <div
                        class="max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Address</h3>
                        <div class="grid gap-2 lg:grid-cols-2">
                            <div class="text-gray-700 dark:text-gray-200 lg:col-span-2">
                                <div class="text-xs font-bold">Address</div>
                                <div x-text="record.Address"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">City</div>
                                <div x-text="record.City"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">State</div>
                                <div x-text="record.State"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Country</div>
                                <div x-text="record.Country"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Postal Code</div>
                                <div x-text="record.PostalCode"></div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Contact</h3>
                        <div class="grid gap-2">
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Phone</div>
                                <div x-text="record.Phone"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Fax</div>
                                <div x-text="record.Fax"></div>
                            </div>
                            <div class="text-gray-700 dark:text-gray-200">
                                <div class="text-xs font-bold">Email</div>
                                <div class="underline"><a :href="'mailto:' + record.Email" x-text="record.Email"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden px-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="customer" role="tabpanel"
                aria-labelledby="customer-tab">
                <div x-data="customer">
                    <include href="blocks/table.html" />
                </div>
            </div>
        </div>
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        const employee = {
            record: {},
            init() {
                let id = '{{@EmployeeId}}';
                if (id) {
                    fetchData('{{@BASE}}/ajax/chinook/employee/load', { EmployeeId: id }).then(data => {
                        data.rpts = data.reportees.map(e => `<a class="underline" href="{{@BASE}}/chinook/employee/${e.EmployeeId}">${e.LastName}, ${e.FirstName}</a>`);
                        data.frpt = `<a class="underline" href="{{@BASE}}/chinook/employee/${data.reportTo.EmployeeId}">${data.reportTo.LastName}, ${data.reportTo.FirstName}</a>`;
                        this.record = data
                    });
                }
            }
        }
        const customer = FFTable({
            fields: [
                { title: 'CustomerId', name: 'CustomerId', visible: false },
                {
                    title: 'LastName', name: 'LastName', formatter(v, c, d) {
                        return `<a class="underline" href="{{@BASE}}/chinook/customer/${d.CustomerId}">${v}, ${d.FirstName}</a>`;
                    }, raw: true
                },
                { title: 'FirstName', name: 'FirstName' },
                { title: 'Company', name: 'Company' },
                { title: 'Address', name: 'Address' },
                { title: 'City', name: 'City' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/customer/list',
                editable: false,
                searchable: false,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple',
                display: 'compact',
                displayClass: 'h-[40vh]',
                size: 'large',
                limit: [{ col: 'SupportRepId', op: '=', value: '{{@EmployeeId}}' }],
            },

        });
    </script>
</f3:inject>
<include href="blocks/popup.html" />