<f3:inject id="content">
    <div class="max-w-screen-lg p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
        x-data="genre">
        <svg viewBox="0 0 24 24" class="mb-2 stroke-1 size-10 stroke-gray-500 dark:stroke-gray-400 fill-transparent">
            <rect x="4" y="2" width="16" height="20" rx="2" ry="2"></rect>
            <circle cx="12" cy="14" r="4"></circle>
            <line x1="12" y1="6" x2="12.01" y2="6"></line>
        </svg>
        <h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Genre</h2>
        <div class="font-normal text-gray-500 dark:text-gray-400">
            <div class="grid md:grid-cols-2">
                <div class="mb-2 text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Name</div>
                    <div x-text="record.Name"></div>
                </div>
                <div class="mb-2 text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Tracks</div>
                    <div x-html="record.Tracks"></div>
                </div>

            </div>
        </div>
    </div>
    <div x-data="track">
        <include href="blocks/table.html" />
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        const genre = {
            record: { Tracks: '', Name: '' },
            init() {
                let id = '{{@GenreId}}';
                if (id) {
                    fetchData('{{@BASE}}/ajax/chinook/genre/load', { GenreId: id }).then(data => {
                        this.record = data
                    });
                }
            }
        }
        const number = new Intl.NumberFormat('{{ @APP.lang_loc }}', {
            style: 'decimal',
            minimumFractionDigits: 1,
            maximumFractionDigits: 2,
        });

        const track = FFTable({
            fields: [
                { title: 'TrackId', name: 'TrackId', visible: false },
                {
                    title: 'Track Name', name: 'Name', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/track/${d.TrackId}" class="underline">${v}</a>`;
                    }
                },
                { title: 'Composer', name: 'Composer' },
                {
                    title: 'Length', name: 'Milliseconds', formatter(v) {
                        let sec = new Intl.NumberFormat('{{ @APP.lang }}', {
                            style: 'decimal', maximumFractionDigits: 0, minimumIntegerDigits: 2
                        }).format(v / 1000 % 60);
                        let min = new Intl.NumberFormat('{{ @APP.lang }}', {
                            style: 'decimal', maximumFractionDigits: 0
                        }).format(v / 60000);
                        return min + ':' + sec;
                    }, class: 'text-right'
                },
                { title: 'Size', name: 'Bytes', formatter(v) { return new Intl.NumberFormat('{{ @APP.lang }}', { style: 'unit', unit: 'megabyte', maximumFractionDigits: 1 }).format(v / 1024 / 1024) }, class: 'text-right whitespace-nowrap' },
                { title: 'Price', name: 'UnitPrice', formatter(v) { return '$' + v }, class: 'text-right' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/track/elist',
                showToolbar: false,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple',
                display: 'compact',
                displayClass: 'h-[40vh]',
                size: 'large',
                limit: [{ col: 't.GenreId', op: '=', value: '{{@GenreId}}' }],
            },

        });
    </script>
</f3:inject>
<include href="blocks/popup.html" />