<f3:inject id="content">
    <div x-data="invoice" class="max-w-screen-lg mx-auto">
        <div
            class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <svg viewBox="0 0 24 24"
                class="mb-2 stroke-1 size-10 stroke-gray-500 dark:stroke-gray-400 fill-transparent">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
            </svg>
            <h2 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Invoice</h2>
            <div class="font-normal text-gray-500 dark:text-gray-400">
                <div class="grid md:grid-cols-2">
                    <div class="mb-2 text-gray-700 dark:text-gray-200">
                        <div class="text-xs font-bold">Invoice #</div>
                        <div x-text="record.InvoiceId"></div>
                    </div>
                    <div class="mb-2 text-gray-700 dark:text-gray-200">
                        <div class="text-xs font-bold">Date</div>
                        <div x-text="dayjs(record.InvoiceDate).format('D MMM YYYY')"></div>
                    </div>
                </div>
                <div class="mb-2 text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Total</div>
                    <div x-text="'$' + record.Total"></div>
                </div>
                <div class="text-gray-700 dark:text-gray-200">
                    <div class="text-xs font-bold">Customer</div>
                    <div x-html="record.custLink">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-b border-gray-200 dark:border-gray-700" x-data="{ page: 0 }">
            <ul class="tab-container">
                <li class="tab" :class="{ 'tab-active': page == 0 }" @click="page = 0">Order Items</li>
                <li class="tab" :class="{ 'tab-active': page == 1 }" @click="page = 1">Billing Address</li>
            </ul>
            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
                <div id="order" role="tabpanel" x-show="page == 0">
                    <div x-data="invoiceLine">
                        <include href="blocks/table.html" />
                    </div>
                </div>
                <div x-show="page == 1" x-cloak>
                    <div class="grid gap-2 lg:grid-cols-2">
                        <div
                            class="max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Address</h3>
                            <div class="grid gap-2 lg:grid-cols-2">
                                <div class="text-gray-700 dark:text-gray-200 lg:col-span-2">
                                    <div class="text-xs font-bold">Address</div>
                                    <div x-text="record.BillingAddress"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">City</div>
                                    <div x-text="record.BillingCity"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">State</div>
                                    <div x-text="record.BillingState"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Country</div>
                                    <div x-text="record.BillingCountry"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Postal Code</div>
                                    <div x-text="record.BillingPostalCode"></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                            <h3 class="mb-2 font-semibold tracking-tight text-gray-900 dark:text-white">Contact</h3>
                            <div class="grid gap-2">
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Phone</div>
                                    <div x-text="cust.Phone"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Fax</div>
                                    <div x-text="cust.Fax"></div>
                                </div>
                                <div class="text-gray-700 dark:text-gray-200">
                                    <div class="text-xs font-bold">Email</div>
                                    <div class="underline"><a :href="'mailto:' + cust.Email" x-text="cust.Email"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        const invoice = {
            record: {},
            cust: {},
            init() {
                let id = '{{@InvoiceId}}';
                if (id) {
                    fetchData('{{@BASE}}/ajax/chinook/invoice/load', { InvoiceId: id }).then(data => {
                        data.custLink = `<a href="{{@BASE}}/chinook/customer/${data.Customer.CustomerId}" class="underline">${data.Customer.LastName}, ${data.Customer.FirstName}</a>`;
                        this.cust = data.Customer;
                        this.record = data
                    });
                }
            }
        }

        const invoiceLine = FFTable({
            fields: [
                { title: 'InvoiceLineId', name: 'InvoiceLineId', visible: false },
                { title: 'InvoiceId', name: 'InvoiceId', visible: false },
                {
                    title: 'Track Name', name: 'Name', raw: true, formatter(v, c, d) {
                        return `<a class="underline whitespace-nowrap" href="{{@BASE}}/chinook/track/${d.TrackId}">${v}</a>`;
                    }
                },
                { title: 'TrackId', name: 'TrackId', prefix: 'i', visible: false },
                { title: 'Unit Price', name: 'UnitPrice', formatter(v) { return '$' + v; }, class: 'text-right' },
                { title: 'Quantity', name: 'Quantity', class: 'text-right' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/invoiceline/elist',
                editable: false,
                searchable: false,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple',
                display: 'compact',
                displayClass: 'h-[40vh]',
                size: 'small',
                limit: [{ col: 'InvoiceId', op: '=', value: '{{@InvoiceId}}' }],
            },

        });
    </script>
</f3:inject>
<include href="blocks/popup.html" />