<f3:inject id="content">
    <!-- Generated: 2022-08-12 14:51 -->
    <h2 class="text-lg font-bold">Track</h2>
    <div x-data="data">
        <include href="blocks/table.html" />
        <include href="blocks/modal-form.html" />
    </div>
</f3:inject>
<f3:inject id="script">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script type="text/javascript">
        let track = {
            fields: [
                { title: 'TrackId', name: 'TrackId', hidden: true, readonly: true, },
                {
                    title: 'Name', name: 'Name', queryPrefix: 't', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/track/${d.TrackId}" class="underline">${v}</a>`;
                    }, virtual: true, searchable: true
                },
                {
                    title: 'Album', name: 'AlbumId', visible: false, lookupUrl: '{{@BASE}}/ajax/chinook/album/lookup?query=', staticLookup: true, type: 'tom-select',
                    initOptions(d) {
                        // ini seharusnya bisa, nggak perlu ajax call, tapi sepertinya ada bug di tom-select
                        // let value = d.AlbumId;
                        // let opt = { value: parseInt(value), text: d.AlbumName };
                        // let control = document.querySelector(['[name="form_' + this.name + '"]']).tomselect;
                        // control.clear();
                        // control.clearOptions();
                        // control.addOptions([opt]);
                        // control.setValue(value);
                        fetchData('{{@BASE}}/ajax/chinook/album/select-option', { AlbumId: d.AlbumId }).then(data => {
                            let opts = data.map(e => ({ value: e.value, text: e.label }));
                            let value = d.AlbumId;
                            let control = document.querySelector(['[name="form_' + this.name + '"]']).tomselect;
                            control.clear();
                            control.clearOptions();
                            control.addOptions(data);
                            control.setValue(value);
                        });
                    },
                    triggerChange(d) {
                        fetchData('{{@BASE}}/ajax/chinook/album/select-option', { AlbumId: d.AlbumId }).then(data => {
                            let opts = data.map(e => ({ value: e.value, text: e.label }));
                            let value = d.AlbumId;
                            let control = document.querySelector(['[name="form_' + this.name + '"]']).tomselect;
                            control.clear();
                            control.clearOptions();
                            control.addOptions(data);
                            control.setValue(value);
                        });
                    },
                },
                {
                    title: 'Album', name: 'AlbumName', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/album/${d.AlbumId}" class="underline">${v}</a>`;
                    }, virtual: true
                },
                {
                    title: 'Media Type', name: 'MediaTypeId', visible: false, type: 'select',
                    options: eval(`{{ (new \Util\Html)->selectOption('\Model\Chinook\Media', '', 'MediaTypeId', 'Name') }}`)
                },
                { title: 'Media Type', name: 'MediaTypeName', virtual: true, },
                {
                    title: 'Genre', name: 'GenreId', visible: false, type: 'select',
                    options: eval(`{{ (new \Util\Html)->selectOption('\Model\Chinook\Genre', '', 'GenreId', 'Name') }}`)
                },
                {
                    title: 'Genre', name: 'GenreName', raw: true, formatter(v, c, d) {
                        return `<a href="{{@BASE}}/chinook/genre/${d.GenreId}" class="underline">${v}</a>`;
                    }, virtual: true,
                },
                { title: 'Composer', name: 'Composer' },
            ],

            // table options
            table: {
                url: '{{@BASE}}/ajax/chinook/track/elist',
                editable: true,
                selection: 'single',
                pageSize: 20,
                sorting: 'multiple'
            },

            // form options
            form: {
                url: '{{@BASE}}/ajax/chinook/track/edit',
                object: 'Track',
                size: 'normal', // small, normal, large, huge 
                columns: 1,
                pk: ['TrackId'], // primary key
            }
        }
        let data = FFTable(track);
    </script>
</f3:inject>
<include href="blocks/popup.html" />