<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 md:gap-6 xl:gap-8">
      <repeat group="{{@posts}}" value="{{@post}}">
        <div class="flex flex-col items-center border overflow-hidden rounded-md md:flex-row">
          <a href="{{@BASE}}/post/{{@post.slug}}"
            class="group w-full md:w-32 lg:w-48 h-48 md:h-full block self-start shrink-0 bg-gray-100 overflow-hidden relative">
            <img alt="No alt" src="{{@post.thumb}}"
              class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" />
          </a>
          <div class="flex flex-col gap-2 p-4 lg:p-6">
            <span class="text-gray-400 text-sm">{{ date('F j, Y', strtotime(@post.pub_date)) }}</span>
            <h2 class="text-gray-800 text-xl font-bold">
              <a href="{{@BASE}}/post/{{@post.slug}}"
                class="hover:text-indigo-500 active:text-indigo-600 transition duration-100 line-clamp-2">
                {{@post.title}}
              </a>
            </h2>
            <p class="text-gray-500 line-clamp-6">
              {{ @post.summary }}
            </p>
            <div>
              <a href="{{@BASE}}/post/{{@post.slug}}"
                class="hover:text-indigo-600 active:text-indigo-700 font-semibold transition duration-100 text-primary-500">
                {{ __("post-page.read_more") }}
              </a>
            </div>
          </div>
        </div>
      </repeat>
    </div>
  </div>
</div>