<f3:inject id="content">
    <section class="max-w-md px-4 py-6 mx-auto bg-white dark:bg-gray-700" x-data="data">
        <h2 class="text-lg font-semibold text-gray-700 capitalize">{{t('register.password_change')}}</h2>
        <div class="grid grid-cols-1 gap-2 mt-4">
            <ff:input x-model="data.email" type="email" placeholder="name@email.com" autocomplete="off" disabled
                title="{{ t('register.email') }}" />
            <ff:input x-model="data.password1" type="password" autocomplete="off" required
                title="{{ t('register.password1') }}" />
            <ff:input x-model="data.password2" type="password" autocomplete="off" required
                title="{{ t('register.password2') }}" />
        </div>
        <div class="flex items-center justify-end mt-6">
            <ff:spinner x-show="submitting" x-cloak class="mx-2" />
            <button class="button" :disabled="Boolean(submitting)" @click="submit()">{{t('common.change')}}</button>
        </div>
    </section>
</f3:inject>

<f3:inject id="script" mode="append">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script type="text/javascript">
        const data = {
            errors: {},
            submitting: false,
            data: {
                email: '{{ @GET.email ?? ""}}',
                token: '{{ @GET.token ?? ""}}',
                password1: '',
                password2: '',
            },
            submit() {
                this.submitting = true;
                fetchData('{{ @BASE }}/ajax/member/change-password', this.data).then(
                    resp => popupInfo(resp.join("<br>"), '', () => location.href = '{{@BASE}}/'),
                    errors => { this.submitting = false; this.errors = errors }
                );
            }
        };

    </script>
</f3:inject>
<include href="blocks/popup.html" />