<!-- Generated: 2022-09-23 18:28 -->
<f3:inject id="content">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">{{ t('menu.post_editor') }}</h1>
    <div class="grid gap-3" class="md:grid-cols-2" x-data="data">
        <ff:input title="{{ t('content.post.title') }}" x-model="data.title" errormodel="errors.title"
            @blur="getSlug()" />
        <ff:input title="{{ t('content.post.slug') }}" x-model="data.slug" errormodel="errors.slug" />
        <ff:input title="{{ t('content.post.keyword') }}" x-model="data.keyword" errormodel="errors.keyword"
            explanation="{{ t('content.post.keyword_ex') }}" />
        <ff:select title="{{ t('content.post.category') }}" x-model="data.category"
            dboption="\Fuwafuwa\Model\Category|0|id|name|" />
        <ff:textarea title="{{t('content.post.summary')}}" x-model="data.summary" errormodel="errors.summary"
            coattr=":class='`md:col-span-2`'" rows="4" />
        <ff:textarea title="{{ t('content.post.content') }}" id="content" coattr=":class='`md:col-span-2`'"
            x-model="data.content" errormodel="errors.content" />
        <ff:input title="{{ t('content.post.published') }}" type="datetime-local" x-model="data.published"
            errormodel="errors.published" />
        <ff:textarea title="JavaScript" x-model="data.script" class="md:col-span-2" rows="10" />
        <div class="col-start-1">
            <button class="button" @click="save()">{{ t('common.save') }}</button>
            <button class="button button-gray" @click="cancel()">{{ t('common.cancel') }}</button>
        </div>
    </div>
</f3:inject>
<f3:inject id="script" type="append">
    <script src="{{@BASE}}/js/fftable.min.js"></script>
    <script>
        let data = {
            init() {
                initTinymce('#content');
            },
            data: {
                id: '{{ @post.id ?? "" }}',
                slug: '{{ @post.slug ?? "" }}',
                title: '{{ @post.title ?? "" }}',
                content: '{{ substr(json_encode(@post.content ?? ""),1,-1) | raw }}',
                summary: `{{ @post.summary ?? "" }}`,
                keyword: '{{ @post.keyword ?? "" }}',
                published: '{{ @post.published ?? "" }}',
                category: '{{ @post.category ?? "" }}',
            },
            errors: {},
            save() {
                this.data['content'] = tinymce.get('content').getContent();
                fetchData('{{@BASE}}/ajax/content/post-edit', { data: this.data, oper: this.data.id ? 'edit' : 'add' }).then(data =>
                    popupInfo('Post sudah disimpan')
                ).catch(e => popupError(e));
            },
            cancel() {
                history.back();
            },
            getSlug(string) {
                if (!this.data.slug) {
                    fetch('{{@BASE}}/ajax/content/post-slug?' + new URLSearchParams({ text: this.data.title })).then(resp => resp.text()).then(text => this.data.slug = text);
                }
            },
        };
    </script>
</f3:inject>
<include href="blocks/modal-image-browser.html" />
<include href="blocks/tinymce.html" />
<include href="blocks/popup.html" />