<div class="grid gap-3" class="md:grid-cols-2" x-data="data">
    <ff:input x-model="data.title" />
    <ff:input x-model="data.slug" />
    <ff:input x-model="data.keyword" />
    <div class="mb-4" x-id="['input']">
        <label :for="$id('input')"
            class="block text-sm font-medium text-gray-900 dark:text-white mb-2">{{t('content.post.category') }}</label>
        <select :id="$id('input')" name="category" x-model="data['category']"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            :value="data['category']">
            <repeat group="{{ json_decode(\Util\Content::categoryOption(), true) }}" value="{{ @option }}">
                <option value="{{@option.value}}">{{@option.label}}</option>
            </repeat>
        </select>
    </div>
    <ff:textarea x-model="data.summary" />
    <ff:textarea x-model="data.content" class="md:col-span-2" />
    <ff:input x-model="data.published" type="datetime-local" />
</div>