<f3:inject id="content">
    <div class="max-w-screen-lg mx-auto dark:text-gray-200 format dark:format-invert">
        <div class="mx-auto format dark:format-invert">
            <h1>Welcome to Fuwafuwa Framework </h1>
            <p>Creating tables in minutes. Multiple sorting, searching, paging, formatting, editing, etc, all in few
                lines of
                code. Responsive and support dark mode. Supports multiple databases via PDO.</p>
            <img class="w-full max-w-xl mx-auto" src="{{@BASE}}/docs/images/fuwafuwa-framework.webp">
            </p>
            <p>To learn about Fuwafuwa Framework, see manual below:</p>
            <button onclick="location.href = '{{@BASE}}/docs/'" class="button button-gray">Documentation</button>
            <button onclick="location.href = '{{@BASE}}/chinook/'" class="button">Chinook Demo</button>
        </div>
    </div>
</f3:inject>